@keyframes error-page-fork {
    0% {
        border-width: 0.05em;
        border-color: #ff5757;
        color: #ff5757;
        transform: rotate(-60deg);
    }
    50% {
        border-width: 0.07em;
        border-color: #fb2828;
        color: #fb2828;
        transform: rotate(20deg);
    }
    75% {
        border-width: 0.05em;
        transform: rotate(-10deg);
    }
    100% {
        border-width: 0.06em;
        border-color: #fb2828;
        color: #fb2828;
        transform: rotate(0deg);
    }
}
